# Actvidad 2 Open Data: Áreas infantiles municipales

A través de los datos abiertos del ayuntamiento de Madrid, exploraremos la base de datos de las Áreas infatiles municipales en Madrid del 2025 [link](https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=337541000be13410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default) para ver que información podemos extraer al respecto.

## 1. Importación de la base de datos y print para hacernos una idea de la estructura de los datos.

In [3]:
import pandas as pd
df_rawdata = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Integration/refs/heads/main/areas_infantiles202501.csv", delimiter=';')

In [5]:
print(df_rawdata)

           ID DESC_CLASIFICACION  COD_BARRIO         BARRIO  COD_DISTRITO  \
0     5240286      Área Infantil         101   LOS CARMENES            10
1       17031      Área Infantil          87     MIRASIERRA             8
2       16666      Área Infantil          14       JUSTICIA             1
3     5237133      Área Infantil         166   VALDEFUENTES            16
4       52225      Área Infantil         192  VALDEBERNARDO            19
...       ...                ...         ...            ...           ...
2157    18277      Área Infantil         175        ANGELES            17
2158    18118      Área Infantil         161        PALOMAS            16
2159  9424149      Área Infantil          22        ACACIAS             2
2160    17453      Área Infantil         117       ABRANTES            11
2161  8914012      Área Infantil         143     MARROQUINA            14

                   DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y  \
0                    LATINA  OPERATIVO   438721.571  4473389.830
1     FUENCARRAL - EL PARDO  OPERATIVO   438893.109  4482118.888
2                    CENTRO  OPERATIVO   440657.773  4474736.539
3                 HORTALEZA  OPERATIVO   446923.980  4481799.850
4                 VICALVARO  OPERATIVO   446775.160  4471852.715
...                     ...        ...          ...          ...
2157             VILLAVERDE  OPERATIVO   440667.164  4467530.617
2158              HORTALEZA  OPERATIVO   446949.409  4478179.191
2159             ARGANZUELA  OPERATIVO   439995.071  4472023.818
2160            CARABANCHEL  OPERATIVO   437914.728  4469843.416
2161              MORATALAZ  OPERATIVO   446470.120  4473710.080

     SISTEMA_COORD  ...                          NOM_VIA  NUM_VIA COD_POSTAL  \
0           ETRS89  ...                              NaN      NaN    28005.0
1           ETRS89  ...               VALLE DE LA JAROSA      113    28035.0
2           ETRS89  ...                              NaN      NaN        NaN
3           ETRS89  ...   Avenida de las Fuerzas Armadas       11    28055.0
4           ETRS89  ...                        PERGAMINO        1    28032.0
...            ...  ...                              ...      ...        ...
2157        ETRS89  ...         EL HUESPED DEL SEVILLANO       13    28041.0
2158        ETRS89  ...                          ESPUELA        5    28042.0
2159        ETRS89  ...                              NaN      NaN    28005.0
2160        ETRS89  ...               RENDICION DE BREDA        7    28025.0
2161        ETRS89  ...  Avenida del Doctor Garcia Tapia      125    28030.0

                                          DIRECCION_AUX         NDP  \
0                                                   NaN         NaN
1     PLAZA VALLE DE LA JAROSA 113 CON PEÑA DEL CUER...  20088984.0
2     Pza · PLAZA VAZQUEZ DE MELLA 6 , ASCENDIENTE 1: 0  11004540.0
3                                                   NaN         NaN
4                                     PERGAMINO, 000001  20120688.0
...                                                 ...         ...
2157                   EL HUÉSPED DEL SEVILLANO, 000013  11143071.0
2158  C · CALLE ESPUELA 5 , ASCENDIENTE 1: 161 · PALOMA  20149935.0
2159                                                NaN         NaN
2160                      PZ RENDICIÓN DE BREDA, 000007  11078747.0
2161                                                NaN         NaN

          FECHA_INSTALACION CODIGO_INTERNO  CONTRATO_COD      TIPO TOTAL_ELEM
0                       NaN      AI_900005          PV24  INFANTIL          6
1     2007-01-09 00:00:00.0          08029          AE21  INFANTIL          7
2     2004-09-30 00:00:00.0          01013          AE21  INFANTIL          5
3                       NaN            NaN          PV24  INFANTIL          1
4     2003-01-01 00:00:00.0          19059          AE21  INFANTIL          9
...                     ...            ...           ...       ...        ...
2157  2004-01-01 00:00:00.0          17107          AE21  INFANTIL          7
2158  2006-01-01 00:00:00.0          16109          AE21  INFANTIL         10
2159                    NaN      AI_900023          PV24  INFANTIL          0
2160  2004-01-01 00:00:00.0          11052          AE21  INFANTIL          7
2161                    NaN            NaN          PV24  INFANTIL          0

[2162 rows x 23 columns]

Podemos observar que el Dataframe está compuesto por 23 columnas y 2162 filas. Así mismo, se observa que la existencia de valores nulos en algunas de las columnas.

# 2. En caso de no hacer un print del Dataframe, podríamos utilizar el código SHAPE para ver directamente las filas y columnas.

In [6]:
df_rawdata.shape

(2162, 23)

# 3. Adentrémonos un poco más a las características de los datos...

In [7]:
df_rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2162 entries, 0 to 2161
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2162 non-null   int64
 1   DESC_CLASIFICACION  2162 non-null   object
 2   COD_BARRIO          2162 non-null   int64
 3   BARRIO              2162 non-null   object
 4   COD_DISTRITO        2162 non-null   int64
 5   DISTRITO            2162 non-null   object
 6   ESTADO              2162 non-null   object
 7   COORD_GIS_X         2162 non-null   float64
 8   COORD_GIS_Y         2162 non-null   float64
 9   SISTEMA_COORD       2162 non-null   object
 10  LATITUD             2162 non-null   float64
 11  LONGITUD            2162 non-null   float64
 12  TIPO_VIA            2065 non-null   object
 13  NOM_VIA             2065 non-null   object
 14  NUM_VIA             2064 non-null   object
 15  COD_POSTAL          2125 non-null   float64
 16  DIRECCION_AUX       1919 non-null   object
 17  NDP                 2036 non-null   float64
 18  FECHA_INSTALACION   2048 non-null   object
 19  CODIGO_INTERNO      2093 non-null   object
 20  CONTRATO_COD        2162 non-null   object
 21  TIPO                2162 non-null   object
 22  TOTAL_ELEM          2162 non-null   int64
dtypes: float64(6), int64(4), object(13)
memory usage: 388.6+ KB

A través del código info, podemos observar el número total de filas que no tienen valores nulos, así mismmo, el tipo de datos que contiene cada una de las 22 columnas que conforman el Dataframe. Por último, se puede observar cuanta memoria ocupa el Dataframe.

# 3. Resumiendo el punto 2 con el código dtypes:

In [8]:
df_rawdata.dtypes

ID                      int64
DESC_CLASIFICACION     object
COD_BARRIO              int64
BARRIO                 object
COD_DISTRITO            int64
DISTRITO               object
ESTADO                 object
COORD_GIS_X           float64
COORD_GIS_Y           float64
SISTEMA_COORD          object
LATITUD               float64
LONGITUD              float64
TIPO_VIA               object
NOM_VIA                object
NUM_VIA                object
COD_POSTAL            float64
DIRECCION_AUX          object
NDP                   float64
FECHA_INSTALACION      object
CODIGO_INTERNO         object
CONTRATO_COD           object
TIPO                   object
TOTAL_ELEM              int64
dtype: object

En caso de querer obtener únicamente información con respecto al tipo de datos de cada columnna este código nos permitiria obtener únicamente está información.

# 4. Resumen estadístico de los datos:

In [9]:
df_rawdata.describe()

,ID,COD_BARRIO,COD_DISTRITO,COORD_GIS_X,COORD_GIS_Y,LATITUD,LONGITUD,COD_POSTAL,NDP,TOTAL_ELEM
count,2.162000e+03,2162.000000,2162.000000,2162.000000,2.162000e+03,2162.000000,2162.000000,2125.000000,2.036000e+03,2162.000000
mean,7.477009e+05,128.978261,12.511101,442676.381984,4.474820e+06,40.422025,-3.675724,27847.597647,1.941960e+07,10.548104
std,1.978134e+06,52.526021,5.253070,4328.329425,4.757706e+03,0.042916,0.050942,2268.389082,8.429462e+06,5.509468
min,1.665700e+04,11.000000,1.000000,429551.575000,4.464949e+06,40.332965,-3.831082,0.000000,1.100019e+07,0.000000
25%,1.732525e+04,93.000000,9.000000,439564.116750,4.470773e+06,40.385558,-3.712255,28022.000000,1.109285e+07,7.000000
50%,1.791050e+04,133.000000,13.000000,443035.219000,4.474055e+06,40.415158,-3.671464,28032.000000,2.006189e+07,9.000000
75%,1.849775e+04,166.000000,16.000000,446199.897500,4.478934e+06,40.459122,-3.634144,28042.000000,3.101029e+07,13.000000
max,9.424149e+06,215.000000,21.000000,453385.843000,4.487423e+06,40.534872,-3.549355,28055.000000,3.106697e+07,57.000000

A través de este resumen estadístico, podemos osbervar un resumen de las columnas númericas de nuestro Dataframe. Este resumen nos permite tener una idea rápida de la distribución de los datos de nuestro Dataframe.

# 5. Valores nulos

In [10]:
valores_nulos = df_rawdata.isnull().sum()
print(valores_nulos)

ID                      0
DESC_CLASIFICACION      0
COD_BARRIO              0
BARRIO                  0
COD_DISTRITO            0
DISTRITO                0
ESTADO                  0
COORD_GIS_X             0
COORD_GIS_Y             0
SISTEMA_COORD           0
LATITUD                 0
LONGITUD                0
TIPO_VIA               97
NOM_VIA                97
NUM_VIA                98
COD_POSTAL             37
DIRECCION_AUX         243
NDP                   126
FECHA_INSTALACION     114
CODIGO_INTERNO         69
CONTRATO_COD            0
TIPO                    0
TOTAL_ELEM              0
dtype: int64

A través de la función isnull, podemos observar la cantidad de valores nulos que hay en cada una de las columnas.

# 6. Eliminación de valores nulos

In [11]:
datos_sin_nulos = df_rawdata.dropna(inplace=True)

Una vez visto los valores nulos que hay en cada una de las columnas, decido eliminar del Dataframe original todas aquellas filas que contienen valores nulos. Al ser un Dataframe con bastante datos, considero que no afectará a la posterior interpretación de los datos.

# 7. Comprobación de la eliminación de los valores nulos

In [12]:
valores_nulos=df_rawdata.isnull().sum()
print(valores_nulos)

ID                    0
DESC_CLASIFICACION    0
COD_BARRIO            0
BARRIO                0
COD_DISTRITO          0
DISTRITO              0
ESTADO                0
COORD_GIS_X           0
COORD_GIS_Y           0
SISTEMA_COORD         0
LATITUD               0
LONGITUD              0
TIPO_VIA              0
NOM_VIA               0
NUM_VIA               0
COD_POSTAL            0
DIRECCION_AUX         0
NDP                   0
FECHA_INSTALACION     0
CODIGO_INTERNO        0
CONTRATO_COD          0
TIPO                  0
TOTAL_ELEM            0
dtype: int64

# 8. Veamos como queda el Dataframe resumido tras la eliminación de los valores nulos:

In [13]:
df_rawdata.shape

(1883, 23)

Del total de 2162 filas, nos quedamos con 1883 filas que contienen datos con valores no nulos.

# 9. Cambio de los formatos de las columnas COD_POSTAL y FECHA_INSTALACIÓN:

In [14]:
df_rawdata['COD_POSTAL'] = df_rawdata['COD_POSTAL'].astype(str).str.rstrip('.0')
print(df_rawdata['COD_POSTAL'])

1       28035
4       28032
7       28011
8        2805
9       28012
        ...
2155    28035
2156    28042
2157    28041
2158    28042
2160    28025
Name: COD_POSTAL, Length: 1883, dtype: object

In [15]:
df_rawdata['FECHA_INSTALACION'] = pd.to_datetime(df_rawdata['FECHA_INSTALACION'])
df_rawdata['FECHA_INSTALACION'] = df_rawdata['FECHA_INSTALACION'].dt.date
print(df_rawdata['FECHA_INSTALACION'])

1       2007-01-09
4       2003-01-01
7       2006-06-19
8       2002-01-01
9       2007-05-17
           ...
2155    2006-04-18
2156    2007-01-01
2157    2004-01-01
2158    2006-01-01
2160    2004-01-01
Name: FECHA_INSTALACION, Length: 1883, dtype: object

Con la función astype y to.datetime, hemos cambiado el formato de las columnas 'COD_POSTAL' y 'FECHA_INSTALACIÓN' para que los datos que se muestren en estas columnas se puedan ver de manera adecuada. A través de está homgeneización de los datos, podemos observar que, en la columna 'COD_POSTAL' todavía hay datos que no están del todo correctos. Códigos postales con 4 dígitos en vez de 5.

# 10. Filtrado de datos en la columna 'COD_POSTAL':

In [16]:
filas_incorrectas = df_rawdata[df_rawdata['COD_POSTAL'].astype(str).str.len() !=5]
print(filas_incorrectas.shape)

(145, 23)

A través del filtrado, podemos observar el número de filas que no contienen 5 dígitos en la columna de 'COD_POSTAL'. Al ser un valor no elevado, decido eliminar estas filas del Dataframe original.

# 11. Eliminación de datos en columna 'COD_POSTAL'

In [17]:
df_rawdata = df_rawdata[df_rawdata['COD_POSTAL'].astype(str).str.len() == 5].reset_index(drop=True)
print(df_rawdata.shape)

(1738, 23)

A hora podemos ver que las filas que no contenian 5 dígitos en la columna 'COD_POSTAL' han sido eliminadas del Dataframe original.

# 12. Filtrado de datos

In [18]:
print(df_rawdata['ESTADO'].unique())

['OPERATIVO']

Para explorar la viabilidad de filtrar los datos en base a la columna 'ESTADO' utilizamos el método unique. Con este código vemos que esta variable no nos sirve para poder hacer el filtrado, por lo tanto, buscamos otra que si sirva.

# 13. Filtrado por 'COD_BARRIO' 101

In [19]:
filtrado_barrio_101 = df_rawdata[df_rawdata['COD_BARRIO'] ==101]
nuevo_dataframe = filtrado_barrio_101
print(nuevo_dataframe)

         ID DESC_CLASIFICACION  COD_BARRIO        BARRIO  COD_DISTRITO  \
301   17330      Área Infantil         101  LOS CARMENES            10
343   17355      Área Infantil         101  LOS CARMENES            10
385   17360      Área Infantil         101  LOS CARMENES            10
413   17341      Área Infantil         101  LOS CARMENES            10
463   17329      Área Infantil         101  LOS CARMENES            10
540   17352      Área Infantil         101  LOS CARMENES            10
632   17344      Área Infantil         101  LOS CARMENES            10
695   17331      Área Infantil         101  LOS CARMENES            10
811   17356      Área Infantil         101  LOS CARMENES            10
949   17342      Área Infantil         101  LOS CARMENES            10
1022  17385      Área Infantil         101  LOS CARMENES            10
1042  17394      Área Infantil         101  LOS CARMENES            10
1287  17365      Área Infantil         101  LOS CARMENES            10

     DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y SISTEMA_COORD  ...  \
301    LATINA  OPERATIVO   437315.713  4472466.206        ETRS89  ...
343    LATINA  OPERATIVO   437948.519  4473023.787        ETRS89  ...
385    LATINA  OPERATIVO   436875.766  4472427.043        ETRS89  ...
413    LATINA  OPERATIVO   437325.879  4472713.098        ETRS89  ...
463    LATINA  OPERATIVO   437339.227  4472523.816        ETRS89  ...
540    LATINA  OPERATIVO   437779.896  4472910.954        ETRS89  ...
632    LATINA  OPERATIVO   436865.547  4472701.561        ETRS89  ...
695    LATINA  OPERATIVO   437297.367  4472526.611        ETRS89  ...
811    LATINA  OPERATIVO   438444.074  4473080.898        ETRS89  ...
949    LATINA  OPERATIVO   436887.552  4472703.693        ETRS89  ...
1022   LATINA  OPERATIVO   437444.159  4472802.907        ETRS89  ...
1042   LATINA  OPERATIVO   437172.106  4472431.364        ETRS89  ...
1287   LATINA  OPERATIVO   437097.155  4471990.791        ETRS89  ...

                                     NOM_VIA  NUM_VIA COD_POSTAL  \
301   CONCEJAL FRANCISCO JOSE JIMENEZ MARTIN        7      28047
343                           PABLO SARASATE       14      28047
385   CONCEJAL FRANCISCO JOSE JIMENEZ MARTIN      120      28047
413                                  VIÑEGRA        6      28047
463   CONCEJAL FRANCISCO JOSE JIMENEZ MARTIN        7      28047
540                             LUISA MURIEL        2      28047
632                           CARLOS FUENTES        2      28047
695   CONCEJAL FRANCISCO JOSE JIMENEZ MARTIN        7      28047
811                         ERMITA DEL SANTO       66      28011
949                           CARLOS FUENTES       19      28047
1022                            GOTARRENDURA        2      28047
1042  CONCEJAL FRANCISCO JOSE JIMENEZ MARTIN        7      28047
1287                             ESCALONILLA       19      28047

                                          DIRECCION_AUX         NDP  \
301   PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...  31012807.0
343        CALLE PABLO SARASATE 14 , ASCENDIENTE 1: 101  20085841.0
385   CALLE CONCEJAL FCO. JOSE JIMENEZ MARTIN C/ ALH...  20086518.0
413   CALLE VIÑEGRA ZONA 2, ASCENDIENTE 1: 101 · CÁR...  20089359.0
463   PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...  31012807.0
540   CALLE SEPULVEDA 109-111, ASCENDIENTE 1: 101 · ...  11059611.0
632   CALLE CARLOS FUENTES ALHAMBRA 2, ASCENDIENTE 1...  31053835.0
695   PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...  31012807.0
811   PARQUE ERMITA PSO. ERMITA DEL SANTO CON VIA CA...  20075161.0
949   CALLE CARLOS FUENTES ALHAMBRA 1, ASCENDIENTE 1...  11059668.0
1022  CALLE SEPULVEDA C/ GOTARRENDURA, ASCENDIENTE 1...  20086923.0
1042       PARQUE CUÑA VERDE , ASCENDIENTE 1: 101 · CÁR  31012807.0
1287  CALLE ESCALONILLA 19 CON C/ GALLUR, ASCENDIENT...  11059305.0

     FECHA_INSTALACION CODIGO_INTERNO  CONTRATO_COD      TIPO TOTAL_ELEM
301         2006-06-19          10055          AE21  INFANTIL          3
343         2007-02-13          10081          AE21  INFANTIL         14
385         2005-01-17          10086          AE21  INFANTIL         27
413         2005-04-28          10068          AE21  INFANTIL          7
463         2005-01-14          10054          AE21  INFANTIL          5
540         2007-02-13          10079          AE21  INFANTIL         11
632         2004-12-10          10070          AE21  INFANTIL          8
695         2005-01-12          10056          AE21  INFANTIL          6
811         2007-02-20          10082          AE21  INFANTIL         23
949         2004-12-10          10069          AE21  INFANTIL          5
1022        2006-06-21          10121          AE21  INFANTIL          6
1042        2007-04-10          10135          AE21  INFANTIL          6
1287        2005-01-24          10093          AE21  INFANTIL          9

[13 rows x 23 columns]

Tras realizar el filtro por el código del barrio observamos que el código 101 se trata del distrinto la LATINA y a en este distrito se ha realizado 13 instalaciones de áreas infantiles entre los años 2004 y 2007.

# 14. Suma de la columna 'TOTAL_ELEM':

In [20]:
nuevo_dataframe = df_rawdata[df_rawdata['COD_BARRIO'] == 101].copy()
nuevo_dataframe['TOTAL'] = nuevo_dataframe['TOTAL_ELEM'].cumsum()
print(nuevo_dataframe)

         ID DESC_CLASIFICACION  COD_BARRIO        BARRIO  COD_DISTRITO  \
301   17330      Área Infantil         101  LOS CARMENES            10
343   17355      Área Infantil         101  LOS CARMENES            10
385   17360      Área Infantil         101  LOS CARMENES            10
413   17341      Área Infantil         101  LOS CARMENES            10
463   17329      Área Infantil         101  LOS CARMENES            10
540   17352      Área Infantil         101  LOS CARMENES            10
632   17344      Área Infantil         101  LOS CARMENES            10
695   17331      Área Infantil         101  LOS CARMENES            10
811   17356      Área Infantil         101  LOS CARMENES            10
949   17342      Área Infantil         101  LOS CARMENES            10
1022  17385      Área Infantil         101  LOS CARMENES            10
1042  17394      Área Infantil         101  LOS CARMENES            10
1287  17365      Área Infantil         101  LOS CARMENES            10

     DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y SISTEMA_COORD  ...  \
301    LATINA  OPERATIVO   437315.713  4472466.206        ETRS89  ...
343    LATINA  OPERATIVO   437948.519  4473023.787        ETRS89  ...
385    LATINA  OPERATIVO   436875.766  4472427.043        ETRS89  ...
413    LATINA  OPERATIVO   437325.879  4472713.098        ETRS89  ...
463    LATINA  OPERATIVO   437339.227  4472523.816        ETRS89  ...
540    LATINA  OPERATIVO   437779.896  4472910.954        ETRS89  ...
632    LATINA  OPERATIVO   436865.547  4472701.561        ETRS89  ...
695    LATINA  OPERATIVO   437297.367  4472526.611        ETRS89  ...
811    LATINA  OPERATIVO   438444.074  4473080.898        ETRS89  ...
949    LATINA  OPERATIVO   436887.552  4472703.693        ETRS89  ...
1022   LATINA  OPERATIVO   437444.159  4472802.907        ETRS89  ...
1042   LATINA  OPERATIVO   437172.106  4472431.364        ETRS89  ...
1287   LATINA  OPERATIVO   437097.155  4471990.791        ETRS89  ...

      NUM_VIA  COD_POSTAL                                      DIRECCION_AUX  \
301         7       28047  PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...
343        14       28047       CALLE PABLO SARASATE 14 , ASCENDIENTE 1: 101
385       120       28047  CALLE CONCEJAL FCO. JOSE JIMENEZ MARTIN C/ ALH...
413         6       28047  CALLE VIÑEGRA ZONA 2, ASCENDIENTE 1: 101 · CÁR...
463         7       28047  PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...
540         2       28047  CALLE SEPULVEDA 109-111, ASCENDIENTE 1: 101 · ...
632         2       28047  CALLE CARLOS FUENTES ALHAMBRA 2, ASCENDIENTE 1...
695         7       28047  PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...
811        66       28011  PARQUE ERMITA PSO. ERMITA DEL SANTO CON VIA CA...
949        19       28047  CALLE CARLOS FUENTES ALHAMBRA 1, ASCENDIENTE 1...
1022        2       28047  CALLE SEPULVEDA C/ GOTARRENDURA, ASCENDIENTE 1...
1042        7       28047       PARQUE CUÑA VERDE , ASCENDIENTE 1: 101 · CÁR
1287       19       28047  CALLE ESCALONILLA 19 CON C/ GALLUR, ASCENDIENT...

             NDP FECHA_INSTALACION CODIGO_INTERNO CONTRATO_COD      TIPO  \
301   31012807.0        2006-06-19          10055         AE21  INFANTIL
343   20085841.0        2007-02-13          10081         AE21  INFANTIL
385   20086518.0        2005-01-17          10086         AE21  INFANTIL
413   20089359.0        2005-04-28          10068         AE21  INFANTIL
463   31012807.0        2005-01-14          10054         AE21  INFANTIL
540   11059611.0        2007-02-13          10079         AE21  INFANTIL
632   31053835.0        2004-12-10          10070         AE21  INFANTIL
695   31012807.0        2005-01-12          10056         AE21  INFANTIL
811   20075161.0        2007-02-20          10082         AE21  INFANTIL
949   11059668.0        2004-12-10          10069         AE21  INFANTIL
1022  20086923.0        2006-06-21          10121         AE21  INFANTIL
1042  31012807.0        2007-04-10          10135         AE21  INFANTIL
1287  11059305.0        2005-01-24          10093         AE21  INFANTIL

     TOTAL_ELEM TOTAL
301           3     3
343          14    17
385          27    44
413           7    51
463           5    56
540          11    67
632           8    75
695           6    81
811          23   104
949           5   109
1022          6   115
1042          6   121
1287          9   130

[13 rows x 24 columns]

Sobre el filtrado realizado en la columna 'COD_BARRIO', hacemos una suma del total de elementos que se han instalado. El resultado son 130 elementos instalados en el barrio de la Latina en el periodo de 2004 y 2007.

# 15. Ordenar el nuevo Dataframe en base a la fecha de instalación ('FECHA_INSTALACION'), de más antiguo a más reciente:

In [21]:
nuevo_dataframe = df_rawdata[df_rawdata['COD_BARRIO'] == 101].copy()
nuevo_dataframe['FECHA_INSTALACION'] = pd.to_datetime(nuevo_dataframe['FECHA_INSTALACION'])
nuevo_dataframe.sort_values(by='FECHA_INSTALACION', inplace=True)
nuevo_dataframe['TOTAL'] = nuevo_dataframe['TOTAL_ELEM'].cumsum()
print(nuevo_dataframe)

         ID DESC_CLASIFICACION  COD_BARRIO        BARRIO  COD_DISTRITO  \
632   17344      Área Infantil         101  LOS CARMENES            10
949   17342      Área Infantil         101  LOS CARMENES            10
695   17331      Área Infantil         101  LOS CARMENES            10
463   17329      Área Infantil         101  LOS CARMENES            10
385   17360      Área Infantil         101  LOS CARMENES            10
1287  17365      Área Infantil         101  LOS CARMENES            10
413   17341      Área Infantil         101  LOS CARMENES            10
301   17330      Área Infantil         101  LOS CARMENES            10
1022  17385      Área Infantil         101  LOS CARMENES            10
343   17355      Área Infantil         101  LOS CARMENES            10
540   17352      Área Infantil         101  LOS CARMENES            10
811   17356      Área Infantil         101  LOS CARMENES            10
1042  17394      Área Infantil         101  LOS CARMENES            10

     DISTRITO     ESTADO  COORD_GIS_X  COORD_GIS_Y SISTEMA_COORD  ...  \
632    LATINA  OPERATIVO   436865.547  4472701.561        ETRS89  ...
949    LATINA  OPERATIVO   436887.552  4472703.693        ETRS89  ...
695    LATINA  OPERATIVO   437297.367  4472526.611        ETRS89  ...
463    LATINA  OPERATIVO   437339.227  4472523.816        ETRS89  ...
385    LATINA  OPERATIVO   436875.766  4472427.043        ETRS89  ...
1287   LATINA  OPERATIVO   437097.155  4471990.791        ETRS89  ...
413    LATINA  OPERATIVO   437325.879  4472713.098        ETRS89  ...
301    LATINA  OPERATIVO   437315.713  4472466.206        ETRS89  ...
1022   LATINA  OPERATIVO   437444.159  4472802.907        ETRS89  ...
343    LATINA  OPERATIVO   437948.519  4473023.787        ETRS89  ...
540    LATINA  OPERATIVO   437779.896  4472910.954        ETRS89  ...
811    LATINA  OPERATIVO   438444.074  4473080.898        ETRS89  ...
1042   LATINA  OPERATIVO   437172.106  4472431.364        ETRS89  ...

      NUM_VIA  COD_POSTAL                                      DIRECCION_AUX  \
632         2       28047  CALLE CARLOS FUENTES ALHAMBRA 2, ASCENDIENTE 1...
949        19       28047  CALLE CARLOS FUENTES ALHAMBRA 1, ASCENDIENTE 1...
695         7       28047  PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...
463         7       28047  PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...
385       120       28047  CALLE CONCEJAL FCO. JOSE JIMENEZ MARTIN C/ ALH...
1287       19       28047  CALLE ESCALONILLA 19 CON C/ GALLUR, ASCENDIENT...
413         6       28047  CALLE VIÑEGRA ZONA 2, ASCENDIENTE 1: 101 · CÁR...
301         7       28047  PARQUE CONCEJAL FCO. JOSE JIMENEZ MARTIN CON C...
1022        2       28047  CALLE SEPULVEDA C/ GOTARRENDURA, ASCENDIENTE 1...
343        14       28047       CALLE PABLO SARASATE 14 , ASCENDIENTE 1: 101
540         2       28047  CALLE SEPULVEDA 109-111, ASCENDIENTE 1: 101 · ...
811        66       28011  PARQUE ERMITA PSO. ERMITA DEL SANTO CON VIA CA...
1042        7       28047       PARQUE CUÑA VERDE , ASCENDIENTE 1: 101 · CÁR

             NDP FECHA_INSTALACION CODIGO_INTERNO CONTRATO_COD      TIPO  \
632   31053835.0        2004-12-10          10070         AE21  INFANTIL
949   11059668.0        2004-12-10          10069         AE21  INFANTIL
695   31012807.0        2005-01-12          10056         AE21  INFANTIL
463   31012807.0        2005-01-14          10054         AE21  INFANTIL
385   20086518.0        2005-01-17          10086         AE21  INFANTIL
1287  11059305.0        2005-01-24          10093         AE21  INFANTIL
413   20089359.0        2005-04-28          10068         AE21  INFANTIL
301   31012807.0        2006-06-19          10055         AE21  INFANTIL
1022  20086923.0        2006-06-21          10121         AE21  INFANTIL
343   20085841.0        2007-02-13          10081         AE21  INFANTIL
540   11059611.0        2007-02-13          10079         AE21  INFANTIL
811   20075161.0        2007-02-20          10082         AE21  INFANTIL
1042  31012807.0        2007-04-10          10135         AE21  INFANTIL

     TOTAL_ELEM TOTAL
632           8     8
949           5    13
695           6    19
463           5    24
385          27    51
1287          9    60
413           7    67
301           3    70
1022          6    76
343          14    90
540          11   101
811          23   124
1042          6   130

[13 rows x 24 columns]

Ahora tenemos el Dataframe filtrado por el distrito 101 (corrspondiente al barrio la Latina), con la fecha de instalción ordenada de más antiguo a más reciente y con la nueva columna del total de elementos instalados en las áreas infantiles de este barrio.

# 16. Agregación con el método groupby

In [64]:
print(nuevo_dataframe.groupby('FECHA_INSTALACION')['TOTAL_ELEM'].size())

FECHA_INSTALACION
2004-12-10    2
2005-01-12    1
2005-01-14    1
2005-01-17    1
2005-01-24    1
2005-04-28    1
2006-06-19    1
2006-06-21    1
2007-02-13    2
2007-02-20    1
2007-04-10    1
Name: TOTAL_ELEM, dtype: int64

Al tratar de agrupar las columnas 'FECHA_INSTALACION' y 'TOTAL_ELEM'observamos la agrupación no muestra de manera correcta el total de elementos instalados por año en el distrito 101, barrio la Latina.

# 17. Método Groupby en base al año de instalación de los elementos en las áreas infantiles del barrio la Latina.

In [67]:
nuevo_dataframe['FECHA_INSTALACION'] = pd.to_datetime(nuevo_dataframe['FECHA_INSTALACION'])
nuevo_dataframe['AÑO_INSTALACION'] = nuevo_dataframe['FECHA_INSTALACION'].dt.year
print(nuevo_dataframe.groupby('AÑO_INSTALACION')['TOTAL_ELEM'].sum())

AÑO_INSTALACION
2004    13
2005    54
2006     9
2007    54
Name: TOTAL_ELEM, dtype: int64

Tras haber extraído previamente el año de la columna 'FECHA_INSTALACION' y haber creado una nueva columna de 'AÑO_INSTALACION', se ha podido emplear correctamente el método groupby, sin haber almacenado ninguna variable correspodiente al método groupby. El resultado final, nos muestra el total de elementos que se han instalado en el barrio de la Latina por años, del periodo del 2004 al 2007.

## Evaluación

1.	**Calificación:** 2,5 / 2,5  
    **Comentarios:**  
2.	**Calificación:** 2,5 / 2,5  
    **Comentarios:**  
3.	**Calificación:** 2,5 / 2,5    
    **Comentarios:**    
4.	**Calificación:** 2,5 / 2,5  
    **Comentarios:**  

### Total: *10 / 10*