## Actividad 3

**Cargamos las librerías y conectamos con la BBDD Mysql local**

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
conn = create_engine("mysql+mysqlconnector://root:Future123*@localhost/dw_aero")

In [3]:
try:
    with conn.connect() as connection:
        print("Conexión exitosa.")
        # Aquí puedes realizar operaciones con la base de datos
except Exception as e:
    print(f"Ocurrió un error al conectar a la base de datos: {e}")

Conexión exitosa.

**Verificación de datos en la BBDD**

In [4]:
pd.read_sql_table("dm_aeropuertos", conn)

Empty DataFrame
Columns: [cod_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto, pais_aeropuerto, cod_pais, cod_iata_faa, cod_icao, latitud, longitud, altitud, zona_horaria, dst, zona_horaria_tz]
Index: []

## 1. Lectura fichero aeropuertos.csv y pasarlo a un Dataframe de Pandas

In [6]:
df_bt_aeropuertos = pd.read_csv(r"C:\Users\bintu\OneDrive\Escritorio\Máster 24 - 25\Inesdi\3. Integración de datos\Semana 3\Actividad de evaluación\aeropuertos.csv")
df_bt_aeropuertos.head()

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz
0,0001,PNG,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282.0,10.0,U,Pacific/Port_Moresby
1,0002,PNG,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20.0,10.0,U,Pacific/Port_Moresby
2,0003,PNG,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388.0,10.0,U,Pacific/Port_Moresby
3,0004,PNG,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239.0,10.0,U,Pacific/Port_Moresby
4,0005,PNG,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146.0,10.0,U,Pacific/Port_Moresby

## 2. Revisar si hay nulos en algunos de los campos. Si hay nulos en campos de códigos: cod_aeropuerto, cod_pais, cod_iata_faa o cod_icao sustituirlos por el valor indeterminado de tipo ‘Z9…9’ ajustado a la longitud del campo

In [7]:
df_bt_aeropuertos.isnull()

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8103,False,False,False,False,False,False,False,False,False,False,False,False,False
8104,False,False,False,False,False,False,False,False,False,False,False,False,False
8105,False,False,False,False,False,False,False,False,False,False,False,False,False
8106,False,False,False,False,False,False,False,False,False,False,False,False,False
8107,False,False,False,False,False,False,False,True,True,True,True,True,True

Con la función `.isnull()`with backticks, podemos observar a simple vista que si hay valores nulos en varias de las columnas del DataFrame. Para poder obtener más detalle de los valores nulos utilizaremos la función `.isnull().sum()`with backticks

In [8]:
df_bt_aeropuertos.isnull().sum()

cod_aeropuerto       0
cod_pais             0
nombre_aeropuerto    0
ciudad_aeropuerto    0
pais_aeropuerto      0
cod_iata_faa         2
cod_icao             1
latitud              1
longitud             1
altitud              1
zona_horaria         1
dst                  1
zona_horaria_tz      1
dtype: int64

Ahora ya podemos ver con más claridad la cantidad de valores nulos que tenemos en el Dataframe y en que columnas se encuentran. Como en las columnnas *cod_iata_faa* y *cod_icao* tenemos valores nulos, vamos a sustituirlos por el valor indeterminado.

In [9]:
df_bt_aeropuertos[df_bt_aeropuertos[['cod_aeropuerto', 'cod_pais', 'cod_iata_faa', 'cod_icao']].isnull().any(axis=1)]

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz
22,0023,CAN,Shearwater,Halifax,Canada,NaN,CYAW,44.639721,-63.499444,167.0,-4.0,A,America/Halifax
297,0300,BEL,Beauvechain,Beauvechain,Belgium,NaN,EBBE,50.758610,4.768333,370.0,1.0,E,Europe/Brussels
6916,8345,USA,Montgomery Field,San Diego,United States,MYF,NaN,32.475900,117.759000,17.0,8.0,A,Asia/Chongqing

Antes de sustituir los valores, revisamos la anchura de cada una de las columnnas para poder determinar correctamente la longitud de campo de los valores indeterminados. Para ello conectamos con nuestra **BBDD** para poder obtener información descriptiva de la longitud de cada una de las columnas que conforman nuestra **BBDD relacional**.

In [10]:
pd.read_sql_query('DESCRIBE dm_aeropuertos;',conn)

                Field           Type Null  Key Default Extra
0      cod_aeropuerto     varchar(4)   NO  PRI    None
1   nombre_aeropuerto   varchar(100)   NO         None
2   ciudad_aeropuerto    varchar(45)  YES         None
3     pais_aeropuerto    varchar(45)  YES         None
4            cod_pais     varchar(3)  YES  MUL    None
5        cod_iata_faa     varchar(3)  YES         None
6            cod_icao     varchar(4)  YES         None
7             latitud  decimal(14,8)  YES         None
8            longitud  decimal(14,8)  YES         None
9             altitud  decimal(14,8)  YES         None
10       zona_horaria            int  YES         None
11                dst     varchar(1)  YES         None
12    zona_horaria_tz    varchar(45)  YES         None

En *'cod_iata_faa'*, la longitud es 3, por lo tanto, lo sustituiremos por **'Z99'**, mientras que en *'cod_icao'* la longitud es de 4 y será sustituido por **'Z999'**.	Para ello, utilizaremos la función `.fillna`.

In [11]:
df_bt_aeropuertos['cod_iata_faa'] = df_bt_aeropuertos['cod_iata_faa'].fillna('Z99')

In [12]:
df_bt_aeropuertos['cod_icao'] = df_bt_aeropuertos['cod_icao'].fillna('Z999')

## 3.Validación de integridad: Se debe comprobar si los países de los aeropuertos existen en la tabla dm_pais. En caso de encontrar países en el fichero de aeropuertos que no estén en la tabla dm_pais actualizarlos a ‘Z99’

In [13]:
df_bt_pais = pd.read_sql_query('select cod_pais as cod_pais_verificado, pais from dm_pais', conn)
df_bt_pais.head()

  cod_pais_verificado         pais
0                 ABW        Aruba
1                 AFG  Afghanistan
2                 AGO       Angola
3                 AIA     Anguilla
4                 ALB      Albania

In [14]:
df_bt_aeropuertos.head()

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz
0,0001,PNG,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282.0,10.0,U,Pacific/Port_Moresby
1,0002,PNG,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20.0,10.0,U,Pacific/Port_Moresby
2,0003,PNG,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388.0,10.0,U,Pacific/Port_Moresby
3,0004,PNG,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239.0,10.0,U,Pacific/Port_Moresby
4,0005,PNG,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146.0,10.0,U,Pacific/Port_Moresby

In [15]:
df_bt_aeropuertos2 = pd.merge(left=df_bt_aeropuertos, right=df_bt_pais,
                      how='left', left_on='cod_pais', right_on='cod_pais_verificado')

In [16]:
df_bt_aeropuertos2.head()

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz,cod_pais_verificado,pais
0,0001,PNG,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea
1,0002,PNG,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea
2,0003,PNG,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea
3,0004,PNG,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea
4,0005,PNG,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea

In [17]:
df_bt_aeropuertos2[df_bt_aeropuertos2['cod_pais_verificado'].isnull()]

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz,cod_pais_verificado,pais
1151,1173,SSD,Juba,Juba,South Sudan,JUB,HSSJ,4.872006,31.601117,1513.0,3.0,U,Africa/Juba,NaN,NaN
6248,7674,WAK,Wake Island Afld,Wake island,Wake Island,AWK,PWAK,19.282067,166.636444,14.0,12.0,U,Pacific/Wake,NaN,NaN
7855,9290,SSD,Torit,Torit,South Sudan,Z99,HSTR,4.411111,32.578889,2018.0,3.0,N,Africa/Juba,NaN,NaN

In [18]:
print(df_bt_aeropuertos2['cod_pais_verificado'].isnull().sum())

3

Una vez cargada la columna *'cod_pais'* de nuestra **BBDD** y creada la columna de *'cod_pais_verificado'* para revisar si existen países con valores nulos, observamos que hay tres filas que si contienen valores nulos, de tal modo que, procedemos a reemplazarlos por nuestro valor indeterminado en base a la longitud de la variable *'cod_pais'*.

In [19]:
df_bt_aeropuertos2['cod_pais'] = df_bt_aeropuertos2['cod_pais'].fillna('Z99')

In [20]:
df_bt_aeropuertos2['cod_pais'] = df_bt_aeropuertos2['cod_pais'].replace({
    'SSD': 'Z99',
    'WAK': 'Z99',
    
})

In [21]:
df_bt_aeropuertos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8108 entries, 0 to 8107
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cod_aeropuerto       8108 non-null   object
 1   cod_pais             8108 non-null   object
 2   nombre_aeropuerto    8108 non-null   object
 3   ciudad_aeropuerto    8108 non-null   object
 4   pais_aeropuerto      8108 non-null   object
 5   cod_iata_faa         8108 non-null   object
 6   cod_icao             8108 non-null   object
 7   latitud              8107 non-null   float64
 8   longitud             8107 non-null   float64
 9   altitud              8107 non-null   float64
 10  zona_horaria         8107 non-null   float64
 11  dst                  8107 non-null   object
 12  zona_horaria_tz      8107 non-null   object
 13  cod_pais_verificado  8105 non-null   object
 14  pais                 8105 non-null   object
dtypes: float64(4), object(11)
memory usage: 950.3+ KB

Para confirmar que la sustitución ha sido efectiva, hacemos una pequeña revisión general con la función `.info()`, ahora observamos que la columna *'cod_pais'* no contiene valores nuelos.

## 4. Cree un nuevo campo en el Dataframe en base a un cálculo sobre uno o varios del resto de los campos. Por darles algunas opciones: concatenar campos, obtener una subcadena, dar un valor constante, etc.., el campo adicional deberá nombrarse con las iniciales del alumno. El campo adicional generado NO deberá volcarse a la tabla dm_aeropuertos de la base de datos.

In [22]:
df_bt_aeropuertos2['BT'] = df_bt_aeropuertos2['cod_pais'].str.cat(df_bt_aeropuertos2['pais_aeropuerto'],sep=' - ')

In [23]:
df_bt_aeropuertos2.head()

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz,cod_pais_verificado,pais,BT
0,0001,PNG,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea,PNG - Papua New Guinea
1,0002,PNG,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea,PNG - Papua New Guinea
2,0003,PNG,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea,PNG - Papua New Guinea
3,0004,PNG,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea,PNG - Papua New Guinea
4,0005,PNG,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146.0,10.0,U,Pacific/Port_Moresby,PNG,Papua New Guinea,PNG - Papua New Guinea

En este caso, se ha decidido concatenar las columnas *'cod_pais'* con *'pais_aeropuerto'* y se muestra la columna creada al final como columna **BT**.

## 5. Realizar el volcado final a la tabla dm_aeropuertos.

In [24]:
df_bt_aeropuertos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8108 entries, 0 to 8107
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cod_aeropuerto       8108 non-null   object
 1   cod_pais             8108 non-null   object
 2   nombre_aeropuerto    8108 non-null   object
 3   ciudad_aeropuerto    8108 non-null   object
 4   pais_aeropuerto      8108 non-null   object
 5   cod_iata_faa         8108 non-null   object
 6   cod_icao             8108 non-null   object
 7   latitud              8107 non-null   float64
 8   longitud             8107 non-null   float64
 9   altitud              8107 non-null   float64
 10  zona_horaria         8107 non-null   float64
 11  dst                  8107 non-null   object
 12  zona_horaria_tz      8107 non-null   object
 13  cod_pais_verificado  8105 non-null   object
 14  pais                 8105 non-null   object
 15  BT                   8108 non-null   object
dtypes: float64(4), object(12)
memory usage: 1013.6+ KB

In [25]:
pd.read_sql_query('DESCRIBE dm_aeropuertos;', conn)

                Field           Type Null  Key Default Extra
0      cod_aeropuerto     varchar(4)   NO  PRI    None
1   nombre_aeropuerto   varchar(100)   NO         None
2   ciudad_aeropuerto    varchar(45)  YES         None
3     pais_aeropuerto    varchar(45)  YES         None
4            cod_pais     varchar(3)  YES  MUL    None
5        cod_iata_faa     varchar(3)  YES         None
6            cod_icao     varchar(4)  YES         None
7             latitud  decimal(14,8)  YES         None
8            longitud  decimal(14,8)  YES         None
9             altitud  decimal(14,8)  YES         None
10       zona_horaria            int  YES         None
11                dst     varchar(1)  YES         None
12    zona_horaria_tz    varchar(45)  YES         None

Para poder efectuar correctamente el volcado de datos a nuestra **BBDD**, eliminamos las columnnas creadas anteriormente.

In [26]:
df_bt_aeropuertos3 = df_bt_aeropuertos2.drop(['cod_pais_verificado', 'pais', 'BT'],axis=1)

In [27]:
df_bt_aeropuertos3.head()

,cod_aeropuerto,cod_pais,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz
0,0001,PNG,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282.0,10.0,U,Pacific/Port_Moresby
1,0002,PNG,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20.0,10.0,U,Pacific/Port_Moresby
2,0003,PNG,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388.0,10.0,U,Pacific/Port_Moresby
3,0004,PNG,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239.0,10.0,U,Pacific/Port_Moresby
4,0005,PNG,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146.0,10.0,U,Pacific/Port_Moresby

Al tratar de realizar el volcado de datos, nos aparece un error con respecto a la **fila 4515**, de tal modo que, localizamos los datos de esta fila y al tratarse de una sola fila, rectificamos manualmente el carácter que no reconoce el sistema.

In [28]:
fila = df_bt_aeropuertos3.loc[4515,'nombre_aeropuerto'] 
print(fila)

ilina Airport

In [29]:
df_bt_aeropuertos3.iloc[4515]

cod_aeropuerto                    5806
cod_pais                           SVK
nombre_aeropuerto       ilina Airport
ciudad_aeropuerto               ilina
pais_aeropuerto               Slovakia
cod_iata_faa                       ILZ
cod_icao                          LZZI
latitud                      49.231528
longitud                       18.6135
altitud                         1020.0
zona_horaria                       1.0
dst                                  E
zona_horaria_tz      Europe/Bratislava
Name: 4515, dtype: object

In [30]:
df_bt_aeropuertos3.loc[4515,'nombre_aeropuerto']= 'Zilina Airport'

In [31]:
df_bt_aeropuertos3.loc[4515,'ciudad_aeropuerto']= 'Zilina'

In [32]:
df_bt_aeropuertos3.iloc[4515]

cod_aeropuerto                    5806
cod_pais                           SVK
nombre_aeropuerto       Zilina Airport
ciudad_aeropuerto               Zilina
pais_aeropuerto               Slovakia
cod_iata_faa                       ILZ
cod_icao                          LZZI
latitud                      49.231528
longitud                       18.6135
altitud                         1020.0
zona_horaria                       1.0
dst                                  E
zona_horaria_tz      Europe/Bratislava
Name: 4515, dtype: object

Una vez rectificado, procedemos a realizar el volcado con la función `.to_sql`.

In [33]:
df_bt_aeropuertos3.to_sql('dm_aeropuertos', con = conn, if_exists = 'append', index=False)

8108

In [34]:
pd.read_sql_query('select * from dm_aeropuertos limit 5;', conn)

,cod_aeropuerto,nombre_aeropuerto,ciudad_aeropuerto,pais_aeropuerto,cod_pais,cod_iata_faa,cod_icao,latitud,longitud,altitud,zona_horaria,dst,zona_horaria_tz
0,0001,Goroka,Goroka,Papua New Guinea,PNG,GKA,AYGA,-6.081689,145.391881,5282.0,10,U,Pacific/Port_Moresby
1,0002,Madang,Madang,Papua New Guinea,PNG,MAG,AYMD,-5.207083,145.788700,20.0,10,U,Pacific/Port_Moresby
2,0003,Mount Hagen,Mount Hagen,Papua New Guinea,PNG,HGU,AYMH,-5.826789,144.295861,5388.0,10,U,Pacific/Port_Moresby
3,0004,Nadzab,Nadzab,Papua New Guinea,PNG,LAE,AYNZ,-6.569828,146.726242,239.0,10,U,Pacific/Port_Moresby
4,0005,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,PNG,POM,AYPY,-9.443383,147.220050,146.0,10,U,Pacific/Port_Moresby

In [35]:
count_df = df_bt_aeropuertos3.count()
count_df

cod_aeropuerto       8108
cod_pais             8108
nombre_aeropuerto    8108
ciudad_aeropuerto    8108
pais_aeropuerto      8108
cod_iata_faa         8108
cod_icao             8108
latitud              8107
longitud             8107
altitud              8107
zona_horaria         8107
dst                  8107
zona_horaria_tz      8107
dtype: int64

In [36]:
pd.read_sql_query('SELECT COUNT(*) FROM dm_aeropuertos;', conn)

   COUNT(*)
0      8108